@model PersonalInformation

<section class="wow fadeIn" data-wow-delay="0.1s">
    <div class="bg-secondary text-light text-center p-5">
        <div class="d-flex justify-content-center mb-4">
            <a class="btn btn-dark btn-square mx-1" href="@Model.Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-square mx-1" href="@Model.Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-square mx-1" href="@Model.LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-dark btn-square mx-1" href="@Model.Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <p class="m-0">I <i class="fas fa-heart" style="color:red;"></i> Coding</p>
    </div>
</section>
